.theme-footer {
  border-top: 1px solid var(--color-text-lighten);
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem 0 1rem;

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
      color: var(--color-text);
    }
  }

  .developemnt-by {
    padding: 0;
  }
}

.theme-footer__menu {
  > li {
    display: inline;
  }
}
.theme-footer__left {
  margin-bottom: 0.5rem;
  line-height: 2;
}
.theme-footer__menu {
  margin-bottom: 0.5rem;
}
.theme-footer__right {
  ul {
    display: flex;
    justify-content: center;
  }
}

/* 
  _____________________________________*/
@media (max-width: 991px) {
  .theme-footer__left {
    line-height: 2;

    svg {
      position: relative;
      top: -2px
    }
  }
}
@media (min-width: 992px) {
  .theme-footer {
    padding: 0;
    ul {
      display: flex;
    }
  }
  .theme-footer__left {
    margin-bottom: 0;
    display: flex;
    align-items: center;

    br {
      display: none;
    }
  }
  .theme-footer__menu {
    margin-bottom: 0;
  }

  .theme-footer__inner {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
  }
}
