@import "bootstrap/dist/css/bootstrap.min.css";
@import "./_vars.scss";
@import "./bootstrap-overrides.scss";
@import "./utils.scss";
@import "./elements/_base.scss";
@import "./modules/_base.scss";
@import "./components/_base.scss";
@import "./media-queries.scss";

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: var(--color-page-background);
  color: var(--color-text);
  // overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--color-text);
}
a:hover {
  color: var(--color-text);
}

/*
________________________________ */

.theme-main {
  // min-height: 37.5rem;
  min-height: 40.75rem;
  // margin-top: $nav-height;
  // padding-top: 3.25rem;
  padding-top: calc(91px + 3.25rem);
  padding-bottom: 3.25rem;

  @media (max-width: 575px) {
    // min-height: 27.5rem;
    min-height: 28.25rem;
    padding-top: calc(91px + 0.75rem);
    padding-bottom: 0.75rem;
  }
}

.theme-main-title {
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.theme-main-title-2 {
  margin-bottom: 1.5rem;
}

.theme-main-title-aligned {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-top: 13rem;

  @media (max-width: 575px) {
    margin-top: 9rem;
  }
}

/*
________________________________ */

.theme-thank-you {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
// .theme-thank-you,
// .theme-thank-you--2 {
//   margin-top: 11rem;
// }
.theme-thank-you--1,
.theme-thank-you--2 {
  margin-top: 11rem;
}

@media (max-width: 767px) {
  // *:focus {
  //   outline: none !important;
  //   box-shadow: none !important;
  // }

  .theme-thank-you--1 {
    margin-top: 11rem;
  }
  .theme-thank-you--2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 575px) {
  .theme-thank-you--1 {
    margin-top: 7rem;
  }
}


/*
________________________________ */
// 
// .no-minheight-page .theme-main {
  // min-height: auto;
// }
// 











/*  C o l o u r    E x p e r i m e n t
________________________________________________________*/

// $light-alt-color: #f0f0f0;
// $dark-alt-color: #11161d; 

// html {
//   background-color: $light-alt-color
// }

// .theme-header {
//   .navbar {
//     background-color: $light-alt-color
//   }
// }

// .theme-footer {
//   background-color: $light-alt-color
// }

// .dark {
//   & {
//     background-color:  $dark-alt-color;
//   }

//   .theme-header {
//     .navbar {
//       background-color: $dark-alt-color
//     }
//   }

//   .theme-footer {
//     background-color: $dark-alt-color
//   }
// }