.theme-loading__wrapper {
  margin-top: 14rem;
  display: grid;
  justify-content: center;
  align-items: center;

  @media (max-width: 575px) {
    margin-top: 10rem;
  }
}

@media (max-width: 575px) {
  .spinner-grow {
    width: 1.25rem;
    height: 1.25rem;
  }
}